DATABASE_URL=
PORT=
FRONT_END_DOMAIN=
ACCESS_SESSION_EXPIRES_IN=
REFRESH_SESSION_EXPIRES_IN=
PASSWORD_SESSION_EXPIRES_IN=
JWT_REFRESH_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_SECRET_KEY=
INVITE_SECRET=
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=

